---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import BaseHead from '../../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<Header />
		<main>
            <div class="grid grid-cols-4 pt-12 max-w-6xl mx-auto mb-8">
                <div class="">
                    <ul class="list-none grid gap-3">
                        <li class="font-medium text-lg">Display</li>
                        <li><a href="">Navbar</a></li>
                        <li><a href="">Hero</a></li>
                        <li><a href="">Panel</a></li>
                        <li><a href="">Pill</a></li>
                        <li><a href="">Table</a></li>
                        <li><a href="">Footer</a></li>
                        <li class="font-medium text-lg mt-4">Navigation</li>
                        <li><a href="">Breadcrumb</a></li>
                        <li><a href="">Pagination</a></li>
                        <li class="font-medium text-lg mt-4">Form</li>
                        <li><a href="">Button</a></li>
                        <li><a href="">Checkbox</a></li>
                        <li><a href="">Date Input</a></li>
                        <li><a href="">Radio</a></li>
                        <li><a href="">Select</a></li>
                        <li><a href="">Text Input</a></li>
                    </ul>
                </div>
                <div class="col-span-3 flex flex-col gap-6 text-lg">
                    <h2 class="text-4xl font-medium">Components</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque erat nulla, ut vulputate sem vestibulum semper. Suspendisse feugiat velit libero. Nunc vehicula bibendum urna, placerat porttitor purus hendrerit luctus. Duis sagittis viverra hendrerit. Aliquam efficitur turpis elit, et faucibus sem ullamcorper vitae. Phasellus euismod mauris hendrerit, facilisis massa ultrices, condimentum elit. Suspendisse commodo dolor at ullamcorper cursus. Integer lobortis commodo quam, sed feugiat erat interdum sit amet.</p>
                    <p>Donec vitae vehicula ipsum. Nam tempor sagittis sem ut viverra. Proin iaculis, dui et scelerisque viverra, lorem justo rhoncus velit, volutpat iaculis purus leo at augue. Etiam viverra nunc at lectus efficitur aliquam. Integer pellentesque fermentum dignissim. Duis ligula erat, eleifend et suscipit sed, pellentesque ut dolor. Sed varius lacus quis enim maximus feugiat. Donec a risus sit amet sapien consequat ultricies vitae ut felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sollicitudin fringilla elit, sit amet posuere mi. Aenean iaculis tincidunt turpis vel posuere. Vivamus nisl lacus, consequat et varius eu, scelerisque ut odio. Etiam felis nisi, rhoncus vel tincidunt eu, egestas nec quam. Sed nec est erat. Duis ornare fringilla elit sit amet volutpat.</p>
                </div>
            </div>
        </main>
		<Footer />
	</body>
</html>

<style>
    a {
        @apply text-blue-800 hover:text-neutral-900 underline hover:decoration-2;
    }
</style>