@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/pjs.ttf') format('truetype-variations');
	font-weight: 1 999;
}

body {
	font-family: 'Plus Jakarta Sans', 'Inter', 'Anuphan', sans-serif;
	@apply bg-neutral-50;
}

a {
	@apply outline-none hover:text-neutral-900 focus:bg-gradient-to-br focus:text-neutral-900 active:ring-0;
}

.highlight {
	@apply relative cursor-pointer capitalize transition-all duration-500 before:absolute before:-bottom-2 before:left-0 before:h-1.5 before:w-0 before:rounded-full before:bg-gradient-to-br before:from-neutral-800 before:via-bosf before:to-neutral-500 before:opacity-0 before:transition-all before:duration-500 before:content-[''] hover:before:w-full hover:before:opacity-100;
}

.ui-container {
	@apply mx-auto w-full max-w-6xl px-2 lg:px-6;
}

.main-grid {
	@apply grid gap-5 md:grid-cols-2 lg:grid-cols-3;
}

.black-btn {
	@apply rounded-full bg-gradient-to-br from-neutral-800 to-neutral-900 px-6 py-3 text-xl text-neutral-50 shadow-sm transition-all hover:scale-[1.02] hover:text-neutral-50 hover:shadow-md;
}

.project-card {
	@apply flex flex-col gap-4 rounded-sm border border-bosf/30 bg-white p-6 shadow-sm transition-all hover:scale-[1.01] hover:border-bosf/50 hover:bg-gradient-to-br;
}
