---
import BaseLayout from '../layouts/BaseLayout.astro'
import Content from '../content/contribute.md'
---

<BaseLayout>
	<section class="ui-container flex flex-col items-center justify-center gap-12 pt-10 lg:pt-24">
		<h1 class="text-center text-3xl font-medium">Add Project</h1>
		<h2 class="text-center text-2xl">via PR</h2>
		<Content />
	</section>
	<section class="ui-container flex flex-col items-center justify-center gap-12 pt-10 lg:pt-24">
		<h2 class="text-center text-2xl">via Repo Tag</h2>
	</section>
</BaseLayout>
