---
import BaseLayout from '../layouts/BaseLayout.astro'
import Content from '../content/contribute.md'
---

<BaseLayout>
	<section class="ui-container 2 flex flex-col items-center justify-center gap-16 md:mt-8">
		<h1 class="text-center text-3xl font-medium">🤘 Add Projects</h1>
		<div class="prose">
			<Content />
		</div>
	</section>
</BaseLayout>
