---
import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout>
	<section class="bg-white border-b-2 border-neutral-400">
		<div id="hero" class="w-full flex flex-col justify-center items-center text-center gap-8 h-[45vh] max-w-6xl mx-auto shadow-sm">
			<div class="grid gap-3">
				<h1 class="text-4xl font-medium">a Humanistic Design System for Thais</h1>
				<h4 class="text-xl">creating a fast and accessible website, powered by user research</h4>
			</div>
			<div class="flex gap-6">
				<button class="primary">Get started</button>
				<button>Research</button>
			</div>
		</div>
		</section>
	<section class="w-full max-w-6xl mx-auto grid gap-8">
		<h1 class="text-3xl font-medium text-center">Building Blocks</h1>
		<div class="grid grid-cols-3 gap-8">
			{
				["Cores","Components","Templates"].map(x => 
					<div class="grid gap-4 group hover:cursor-pointer">
						<div class="aspect-video bg-neutral-300 w-full"></div>
						<div class="grid gap-2">
							<h1 class="text-2xl underline group-hover:decoration-[3px] font-medium text-blue-800 group-hover:text-blue-900">{x}</h1>
							<p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim sem non nulla cursus, ut pulvinar lorem pharetra.</p>
						</div>
					</div>
				)
			}
		</div>
	</section>
	<section class="w-full max-w-6xl mx-auto grid gap-4 text-lg justify-center bg-white py-12 border-2 border-neutral-400">
		<h1 class="text-3xl font-medium text-center">Get involved</h1>
		<div class="w-2/3 mx-auto">
			<p class="mr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac consequat ex. Nam vulputate dictum est, vestibulum lacinia nibh gravida id. Sed ullamcorper tortor id viverra convallis. Suspendisse justo diam, pharetra sit amet eros eget.
			</p>
		</div>
	</section>
</BaseLayout>

<style>
	button {
		@apply px-4 py-2 border-2 rounded-md border-neutral-900 bg-neutral-100 hover:bg-neutral-200 focus:text-neutral-900 focus:bg-amber-300 active:ring-0 outline-none text-lg;
	}
	.primary {
		@apply bg-blue-800 hover:bg-blue-900 text-neutral-50;
	}
	.el {
		@apply w-full aspect-[21/9] flex justify-center items-center bg-blue-50 border-2 border-neutral-900;
	}
</style>