---
import BaseLayout from '../layouts/BaseLayout.astro'
import ring from '../content/ring.json'
import generatedRing from '../content/ring.generated.json'

// TODO: refactor dedupe logic to separate file?
const projects = [...ring.projects]
for (const project of generatedRing.projects) {
	const index = projects.findIndex((x) => x.name === project.name)
	if (index === -1) {
		projects.push(project)
	}
}

---

<BaseLayout>
	<section class="ui-container mt-6 flex flex-col items-center justify-center gap-12 md:mt-8">
		<h1 class="text-center text-3xl font-medium">👾 Project List</h1>
		<!-- TODO: languages should display as tags -->
		<div class="main-grid">
			{
				projects.map((project) => {
					return (
						<a class="project-card group" href={project.repo}>
							<div class="grid gap-1">
								<h3 class="text-2xl font-medium transition-all">{project.name}</h3>
								<p class="text-base">{project.description}</p>
								<p>{project.languages?.join(', ')}</p>
							</div>
						</a>
					)
				})
			}
		</div>
		<a href="/add" class="black-btn">How to add projects?</a>
	</section>
</BaseLayout>
