---
import BaseLayout from '../layouts/BaseLayout.astro'
import ring from '../content/ring.json'
import generatedRing from '../content/ring.generated.json'
import CardLink from '../components/CardLink.astro'
import { fetchProjects } from '../../scripts/actions/project'

const projects = fetchProjects([...ring.projects], [...generatedRing.projects])
---

<BaseLayout>
	<section class="ui-container mt-6 flex flex-col items-center justify-center gap-12 md:mt-8">
		<h1 class="text-center text-3xl font-medium">👾 Project List</h1>
		<div class="main-grid">
			{
				projects.map(({ name, repo, description, languages }) => {
					return (
						<CardLink title={name} url={repo} description={description} languages={languages} />
					)
				})
			}
		</div>
		<a href="/add" class="black-btn">How to add projects?</a>
	</section>
</BaseLayout>
