---
const today = new Date();
---

<footer class="flex justify-center items-center flex-col text-sm pt-4 pb-8 w-[100vw]">
	<p>&copy; {today.getFullYear()} | 🔧 w/ 🧋 by Bangkok Open Source.</p>
	<p>Source Code Available on <a href="" class="text-blue-800 underline">Github</a></p>
</footer>