---
const today = new Date()
---

<footer class="flex w-full flex-col items-center justify-center pb-8 pt-4 text-sm">
	<p>&copy; {today.getFullYear()} | 🔧 w/ 🧋 by Bangkok Open Source.</p>
	<p>Source Code Available on <a href="https://github.com/creatorsgarten/open.source.in.th" class="highlight underline" target="_blank" rel="noopener noreferrer">GitHub</a></p>
</footer>
