<!-- 
<div class="hidden md:block pt-[0.4rem] pb-[0.35rem] bg-neutral-700 text-[0.8rem] text-neutral-50">
	<div class="ui-container flex justify-between items-center">
		<div></div>
		<div class="flex gap-2">
			<a href="/">Thai Open Source Festival</a> |
			<a href="https://www.w3.org/WAI/meta/customize/" class="underlne">⚙️ Change Text Size or Colors</a>
		</div> 
	</div>
</div> -->
<header class="py-3">
	<nav class="ui-container flex items-center justify-between">
		<div>
			<a href="/" class="highlight flex items-center justify-center gap-2 font-medium">
				<img src="/logo.svg" class="hidden h-8 py-1 md:block" />
				<h2 class="">Festival '23</h2>
			</a>
		</div>
		<div class="flex gap-1 md:gap-3">
			<a class="highlight" href="/ring"><h3>Ring</h3></a>
			<a class="highlight" href="/join"><h3>Join</h3></a>
			<a class="highlight" href="/board"><h3>Board</h3></a>
			<!-- <a class="highlight" href="/events"><h3>Events</h3></a> -->
			<a class="highlight" href="https://discord.com/invite/vcpXckaTSF" target="_blank"
				><h3>Discord ↗</h3></a
			>
		</div>
		<!-- <div class="flex md:hidden">
			<a href="#"><h3>▾ Menu</h3></a>
		</div> -->
	</nav>
</header>
