<!-- 
<div class="hidden md:block pt-[0.4rem] pb-[0.35rem] bg-neutral-700 text-[0.8rem] text-neutral-50">
	<div class="ui-container flex justify-between items-center">
		<div></div>
		<div class="flex gap-2">
			<a href="/">Thai Open Source Festival</a> |
			<a href="https://www.w3.org/WAI/meta/customize/" class="underlne">⚙️ Change Text Size or Colors</a>
		</div> 
	</div>
</div> -->
<header class="py-3">
	<nav class="ui-container flex items-center justify-between">
		<div>
			<a href="/" class="flex items-center justify-center gap-2 font-medium">
				<img src="/logo.svg" class="h-8 py-1" />
				<h2 class="hidden md:block">Festival '23</h2>
			</a>
		</div>
		<div class="flex gap-3">
			<a href="/components/index"><h3>Ring</h3></a>
			<a href="/cores/index"><h3>Events</h3></a>
			<a href="/components/index"><h3>Join</h3></a>
		</div>
		<!-- <div class="flex md:hidden">
			<a href="#"><h3>▾ Menu</h3></a>
		</div> -->
	</nav>
</header>

<style>
	a {
		@apply px-1;
	}
</style>
