---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'

const { menu, doc } = Astro.props

const defaultCat = 'Main'

const nav = menu
	.map((x) => {
		const splitted = x.id.split('/')
		const cat = splitted.length === 1 ? '' : splitted[0]
		return { ...x, cat }
	})
	.reduce((acc, cur) => {
		const cat = cur.cat || defaultCat
		cat in acc
			? acc[cat].push([cur.data.title, cur.slug])
			: (acc[cat] = [[cur.data.title, cur.slug]])
		return acc
	}, {})
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<Header />
		<main>
			<div
				class="ui-container col-span-4 mb-8 border-b-2 border-neutral-400 bg-neutral-100 py-3 text-lg md:hidden"
			>
				Components
			</div>
			<div class="ui-container mb-4 grid grid-cols-4 md:pt-12">
				<div class="col-span-3 hidden md:col-span-1 md:block">
					<div class="grid gap-8">
						{
							[
								[defaultCat, nav[defaultCat]],
								...Object.entries(nav).filter(([k, _]) => k !== defaultCat)
							].map(([k, v]) => {
								return (
									<ul class="grid list-none gap-3">
										<li class="text-lg font-medium">{k}</li>
										{v.map(([title, slug]) => {
											return (
												<li>
													<a href={`/${doc}/${slug}`}>{title}</a>
												</li>
											)
										})}
									</ul>
								)
							})
						}
					</div>
				</div>
				<div class="col-span-4 flex flex-col gap-8 text-lg leading-relaxed md:col-span-3">
					<div class="prose prose-lg">
						<slot />
					</div>
				</div>
			</div>
		</main>
		<Footer />
		<style>
			a {
				@apply text-blue-800 underline hover:text-neutral-900 hover:decoration-2;
			}
			p {
				max-width: 60ch;
			}
		</style>
	</body>
</html>
